@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'McLaren', sans-serif;
}

/* ! header */

header {
  position: fixed;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  z-index: 1;
}

header img {
  height: 45px;
}

/* ! banner section */

.banner img {
  width: 100%;
  height: 100%;
}

.banner {
  position: relative;
}

.banner h2 {
  position: absolute;
  top: 100px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5294117647058824);
  margin-left: 10px;
  color: #fff;
  border-radius: 8px;
}

.banner h2 span {
  font-weight: bold;
  font-size: 1.3em;
}

/* ! Navigation links */

nav {
  background-color: lightgray;
  position: sticky;
  top: 85px;
  z-index: 1;
}

nav li {
  display: inline-block;
  width: 25%;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #17406c;
  font-size: 20px;
  font-weight: 600;
}

nav ul {
  white-space: nowrap;
  max-width: 1000px;
  margin: 0 auto;
}

nav li:hover {
  text-decoration: underline;
}

/* ! Main section */

article {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

article h2,
h3 {
  color: #17406c;
  padding: 10px;
}

article p {
  line-height: 1.4em;
  letter-spacing: 1px;
}

article ul li {
  display: inline-block;
  width: 47%;
  padding: 10px;
}

article ul li img {
  width: 90%;
  max-height: 70%;
  transition: transform .1s;

}

article ul li img:hover {
  /* position: relative;
  top: -4px; */
  transform: scale(1.01);
}

article p::first-letter {
  font-size: 1.5em;
}

article p::selection {
  background-color: yellow;
}

/* ! states section */

section.states {
  background-color: #17406c;
}

.states-list {
  max-width: 900px;
  margin: 0 auto;
  column-count: 4;
  column-gap: 60px;
  padding: 20px;
}

section.states ul {
  list-style: none;
  width: 75%;
}

section.states ul li {
  line-height: 40px;
}

section.states ul li a {
  text-decoration: none;
  color: #fff;
}

section.states ul li a:hover {
  text-decoration: underline;
}

/* ! Footer Section */

footer {
  background-color: #17406c;
  margin: 0 auto;
  padding: 20px;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

/* ! horizontal line */

hr {
  width: 50%;
  margin: 0 auto;
}

/* ! Media queries responsive design */

/*?  xs or small - 576px  */
/*?  medium - 768px  */
/*?  large - 992px  */
/*?  xl - 1200px  */
/*?  xxl - 1400px  */

@media screen and (max-width: 720px) {
  header {
    position: static;
    background-color: transparent;
  }

  .banner h2 {
    position: static;
    border-radius: 0;
    margin: 0;
    font-size: 0.95em;
  }

  nav li {
    display: block;
    line-height: 1px;
  }

  nav {
    top: 0;
  }

  article ul li {
    display: block;
    width: 100%;
  }

  .states-list {
    column-count: 2;
  }
}

@media screen and (max-width: 992px) {
  header {
    position: static;
    background-color: transparent;
  }

  nav {
    top: 0px;
  }

  .banner h2 {
    font-size: 1.1em;
  }
}